<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Projeto_TCCPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>modelo.ItemViagem</class>
    <class>modelo.Motorista</class>
    <class>modelo.Produto</class>
    <class>modelo.Unidade</class>
    <class>modelo.Modelo</class>
    <class>modelo.HistoricoProduto</class>
    <class>modelo.Usuario</class>
    <class>modelo.Cidade</class>
    <class>modelo.Local</class>
    <class>modelo.Veiculo</class>
    <class>modelo.Cliente</class>
    <class>modelo.Marca</class>
    <class>modelo.Viagem</class>
    <class>modelo.Estado</class>
    <class>modelo.Pais</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/TCC"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
